.battleship {
    font-size: 64px;                /*Set size là 48 pixel cho battleShip*/
    text-align: center;          
    color: red;
    font-family: 'DynaPuff', cursive;
}

.content{
    display: flex;                  /*Đặt hiển thị kiểu flexbox*/
    flex-direction: column;         /*Định hướng dọc*/
    align-items: center;            /*Canh giữa ngang cho các phần tử con*/
    justify-content: center;        /*Canh giữa dọc*/
    height: 80vh;                  /*Set là 100% view high*/
    gap: 30px;                      /*Set khoảng cách dọc giữa các phần tử con là 30px*/
}

.button{
    margin-top: 16px;               /*Khoảng cách giữa 2 button với battleship là 16 pixel*/
}

.StartButton,
.ExitButton {
    font-size: 24px;                /*Kích thước font cho các button là 24px */
    padding: 16px 32px;             /*Khoảng cách lề nội dung trong button là 16px trên dưới và 32px trái phải */
    border-radius: 16px;            /*Bo tròn hình chữ nhật*/
    flex-grow: 1;                   /*Set cho 2 button bằng nhau*/
    margin: 0 20px;                 /*Canh giữa 20px*/
}

body {
    background-image: url("/BattleShipNew/resource/battleship.jpeg");
    background-size: cover; /* tự động co giãn ảnh để vừa kích thước nền */
    background-repeat: no-repeat; /* không lặp lại ảnh */
}